In [110]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import random

from ipypb import irange
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 1.1 ms

In [111]:
# reading back stored information
SE_dict = eval(open('SE.txt', 'r').read())
OTC_dict = eval(open('OTC.txt', 'r').read())
ES_dict = eval(open('ES.txt', 'r').read())

# fetching stock code of all stocks
SE_list = list(SE_dict.items())
OTC_list = list(OTC_dict.items())
ES_list = list(ES_dict.items())

# headers for crawler
headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'}

# converting elements from tuples into lists
'''
SE_list = [list(item) for item in SE_list]
OTC_list = [list(item) for item in OTC_list]
ES_list = [list(item) for item in ES_list]
'''

# defining data fetching range
year_range = list(range(100, 110))
year_range.reverse()

time: 9.17 ms

In [3]:
def year_count(code, year):
    url = "https://mops.twse.com.tw/mops/web/ajax_t05st01?firstin=1&TYPEK=sii&co_id="+ str(code) + "&year=" + str(year)
    page = requests.get(url, headers=headers)
    page.encoding = 'utf-8'
    soup = bs(page.text, 'lxml')

    try:
        tb = soup.select('table')[1]
        df = pd.read_html(tb.prettify('utf-8'), encoding= 'utf-8')
        
        # getting the statistics
        number = df[0].shape[0]
        
        # storing basic information
        df[0].drop('Unnamed: 5', axis=1, inplace=True)
        df[0].to_csv("../databases/basic_info/"+str(code)+'_'+str(name)+'_'+str(year)+'_'+str(number)+'.csv')
    
    except:
        number = 0
    
    return number

time: 1.66 ms

In [61]:
df_cols = ['公司代號', '公司名稱', '年份', '數量']
df = pd.DataFrame(columns=df_cols)

time: 3.24 ms

In [ ]:
# for faster trimming
sort_tracker = 0

for i in range(132, len(SE_list)):
    code = SE_list[i][0]
    name = SE_list[i][1]
    
    for year in year_range:
        number = year_count(code, year)
        
        # creating the new row
        new_row = {df_cols[0]: code, df_cols[1]: name, df_cols[2]: year, df_cols[3]: number}

        # append row to the dataframe
        df = df.append(new_row, ignore_index=True)
        
        # for faster trimming
        sort_tracker += 1

        # defense I
        time.sleep(random.randint(5, 10))

        # tracker
        print(str(i)+'_'+str(year), end = ' | ')        
        
    # for faster trimming
    sort_tracker = 0

    # defense II
    time.sleep(random.randint(11, 22))
    
    # update current statistics
    df.to_csv("../databases/"+'info_synop.csv')
    print("'info_synop.csv' updated")
    
    # defense III
    if i % 5 == 0:
        time.sleep(random.randint(33,88))

132_109 | 132_108 | 132_107 | 132_106 | 132_105 | 132_104 | 132_103 | 132_102 | 132_101 | 132_100 | 'info_synop.csv' updated
133_109 | 133_108 | 133_107 | 133_106 | 133_105 | 133_104 | 133_103 | 133_102 | 133_101 | 133_100 | 'info_synop.csv' updated
134_109 | 134_108 | 134_107 | 134_106 | 134_105 | 134_104 | 134_103 | 134_102 | 134_101 | 134_100 | 'info_synop.csv' updated
135_109 | 135_108 | 135_107 |

In [114]:
sort_start = df.shape[0] - sort_tracker
sort_end = df.shape[0]

df.drop(list(range(sort_start, sort_end)), inplace=True)

time: 1.94 ms

In [94]:
sort_tracker, df.shape[0]

(6, 1246)

time: 1.75 ms

In [84]:
df['數量'].sum()/df.shape[0]

24.331

time: 2.15 ms

In [116]:
df.tail(15)

      公司代號 公司名稱   年份  數量
1305  1558   伸興  104  33
1306  1558   伸興  103  23
1307  1558   伸興  102  29
1308  1558   伸興  101  27
1309  1558   伸興  100  32
1310  1560   中砂  109  19
1311  1560   中砂  108  15
1312  1560   中砂  107  22
1313  1560   中砂  106  29
1314  1560   中砂  105  17
1315  1560   中砂  104  14
1316  1560   中砂  103  26
1317  1560   中砂  102  16
1318  1560   中砂  101  10
1319  1560   中砂  100  16

time: 8.23 ms

In [118]:
df[df['數量']==0].shape[0]

50

time: 2.39 ms